.no-favorite {
    text-align: center;

    img {
        width: 70%;
    }
    
    h2 {
        font-family: $myText;
        color: $myDarkBlue;
        font-size: 2rem;
    }

    a {
        border: 1px solid $myOrange;
        border-radius: 20px;
        background: $myOrange;
        padding: 5px 20px;
        font-size: 1.5rem;
        display: block;
        width: fit-content;
        margin: 20px auto;
        color: $myDarkBlue;
        text-decoration: none;
        font-weight: bold;
        @include myTransition;

        &:hover {
            background: $myYellow;
        }
    }
}