a.navbar__car.navbar__other-link {
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 0.375rem;;
    border: #ffffff 1px solid;
    padding: 5px;
    background-color: $myDarkBlue;
    margin: 5px;
    display: inline-block;
    opacity: 1;
    @include myTransition;

    &:hover {
        cursor: pointer;
        background-color: $myPink;
        color: #ffffff;
    }
}

/*===== ESTILOS LG =====*/
@media only screen and (min-width: 992px) {
    a.navbar__car.navbar__other-link {
        font-size: 1.5rem;
    }
}