.main__navbar {
    background-image: linear-gradient(to bottom, $myYellow, transparent);
    font-family: $myTitle;
    font-size: 1.3rem;

    /* Logo */
    .navbar__logo {
        width: 40vw;
        @include myTransition;

        &:hover {
            transform: scale(1.1);
        }
    }

    /* Menú hamburguesa */
    .navbar-toggler {
        border: $myDarkBlue solid 1px;
        font-size: 1.5rem;
        padding: 5px;

        span {
            color: $myDarkBlue;
        }

        &:focus {
            outline: none;
        }
    }

    /* Barra de navegación - Enlaces */
    .navbar__links a{
        color: $myDarkBlue;
        opacity: 0.9;
        text-decoration: none;
        margin: 5px;
        font-size: 1.5rem;
        opacity: 0.7;

        &:hover {
            color: $myPink;
        }
    }

    .nav-link.active {
        color: $myDarkBlue;
    }

    a.activeLink {
        opacity: 1;
        font-weight: bold;
    }

    /* Form */
    .navbar__form {
        width: 80%;
        margin: 10px auto;

        input {
            font-family: $myTitle;
            font-size: 1.3rem;
            border: $myDarkBlue 1px solid;

            &:focus {
                border: $myPink 1px solid;
                box-shadow: none;
            }
        }

        .navbar__button {
            background-color: $myDarkBlue;
            font-family: $myTitle;
            font-size: 1.3rem;
            border: #ffffff 1px solid;

            &:hover {
                background-color: $myPink;
            }
        }
    }
}

/*===== ESTILOS MOBILE (OTHERS) - SM =====*/
@media only screen and (min-width: 576px) {
    .main__navbar {
    
        /* Logo */
        .navbar__logo {
            width: 30vw;
        }
    }
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px) {
    .main__navbar {
    
        /* Logo */
        .navbar__logo {
            width: 20vw;
        }
    }

}

/*===== ESTILOS LG =====*/
@media only screen and (min-width: 992px) {
    .main__navbar {

        /* Logo */
        .navbar__logo {
            width: 10vw;
        }

        /* Barra de navegación - Enlaces */
        .navbar__links {
            width: 100%;
            justify-content: flex-end !important;
        }

        /* Form */
        .navbar__form {
            width: auto;
            margin: 5px;
        }
    }
}