.purchase-summary {
    width: 85%;
    margin: 20px auto;
    font-family: $myText;
    border: 1px $myOrange solid;
    border-radius: 20px;
    padding: 10px;
    color: $myDarkBlue;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #ffb8037f;
    
    h2 {
        font-size: 2rem;
        background: #ffb8037f;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 0;
        margin: 0;
        font-weight: bold;
    }

    .purchase-summary_products {
        display: grid;
        grid-template-rows: auto;
        row-gap: 10px;
        margin: 10px 0;

        article {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            
            h3,
            p,
            strong {
                font-size: 1.5rem;
            }

            h3 {
                font-weight: bold;
            }
        }
    }

    .purchase-summary_hr {
        width: 90%;
        opacity: 1;
        margin: 10px auto;
        border-top: 1px solid $myYellow;
    }

    .purchase-summary_prices {
        width: 90%;
        margin: 0 auto;
        text-align: right;
        font-size: 1.5rem;

        span {
            color: $myOrange;
        }
    }
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px) {
    .purchase-summary {
        width: 40%;
        margin: 20px;
    }
}

/*===== ESTILOS LG =====*/
@media only screen and (min-width: 992px) {
    .purchase-summary {
        width: 30%;
    }
}