.item-list {
    width: 100%;
    min-height: 70vh;
    
    h1 {
        font-family: $myTitle;
        text-align: center;
        margin: 10px;
        color: $myDarkBlue;
        font-size: 2.5rem;
    }

    hr {
        width: 80%;
        margin: 0 auto;
    }
}