.items-out-of-stock {
    width: 85%;
    display: block;
    background-color: #ffb8037f;
    margin: 20px auto;
    font-family: $myText;
    border: 1px $myOrange solid;
    border-radius: 20px;
    padding: 10px;
    color: $myDarkBlue;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffb8037f;
    font-size: 1.5rem;
    color: $myDarkBlue;

    .items-out-of-stock__products {
        display: grid;
        grid-template-rows: auto;
        row-gap: 10px;
        margin: 10px 0;

        article:first-child {
            font-weight: bold;
            background-color: $myDarkBlue;
            color: #ffffffff;
            padding: 5px 0;
        }

        article {
            display: grid;
            width: 90%;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            margin: 0 auto;
            
            h3,
            p,
            strong {
                font-size: 1.5rem;
            }

            h3 {
                font-weight: bold;
            }
        }
    }

    .items-out-of-stock__hr {
        width: 90%;
        opacity: 1;
        margin: 10px auto;
        border-top: 1px solid $myDarkBlue;
    }

    a {
        border: 1px solid $myOrange;
        border-radius: 20px;
        background: $myOrange;
        padding: 5px 20px;
        font-size: 1.5rem;
        margin: 5px;
        color: $myDarkBlue;
        font-weight: bold;
        text-decoration:  none;
        display: inline-block;

        &:hover {
            background: $myYellow;
        }
    }
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px) {
    .items-out-of-stock {
        width: 60%;
    }
}

/*===== ESTILOS XL =====*/
@media only screen and (min-width: 1200px) {
    .items-out-of-stock {
        width: 30%;
    }
}