.navbar__favorites {
    background-color: $myDarkBlue;
    font-family: $myTitle;
    font-size: 1.3rem;
    border: #ffffff 1px solid;
    margin: 5px;
    padding: 5px;
    border-radius: 0.375rem;
    color: #ffffff;

    svg {
        font-size: 1.5rem;
        transition: color 0.15s ease-in-out;
    }

    svg.active {
        color: $myPink;
    }

    &:hover {
        background-color: $myPink;

        svg {
            color: #ffffffff;
        }
    }
}