.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: $myTitle;
    font-weight: bolder;
    text-align: center;
    overflow: hidden;
    
    .home_content {
        margin: 20px;
        
        h1 {
            background: linear-gradient(to right, $myYellow 0%, $myOrange 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 5rem;
            text-shadow:
                -1px    -1px    0   $myOrange,
                0       -1px    0   $myOrange,
                1px     -1px    0   $myOrange,
                1px     0       0   $myOrange,
                1px     1px     0   $myOrange,
                0       1px     0   $myOrange,
                -1px    1px     0   $myOrange,
                -1px    0       0   $myOrange;
        }

        h2 {
            background: linear-gradient(to right, $myYellow 0%, $myOrange 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem;
            font-style: italic;
        }

        a {
            border: 1px solid $myOrange;
            border-radius: 20px;
            background: $myOrange;
            padding: 5px 20px;
            font-size: 1.5rem;
            display: block;
            width: 60%;
            margin: 20px auto;
            color: $myDarkBlue;
            text-decoration: none;
            @include myTransition;
    
            &:hover {
                background: $myYellow;
            }
        }
    }

    .home_images {
        position: relative;
        animation: translate 5s infinite alternate linear;
        display: flex;
        justify-content: center;

        img,
        div {
            width: 80%;
        }

        div {
            height: 100%;
        }
        
        .home_images-main {
            position: absolute;
            z-index: 1;
            background-size: 100% 100%;
            animation: change 10s infinite alternate linear;
        }

        .home_images-back {
            animation: rotate 30s infinite linear;
            pointer-events: none;
        }
    }
}

/*===== ESTILOS MOBILE (OTHERS) - SM =====*/
@media only screen and (min-width: 576px) {
    .home {
        .home_images {
            img,
            div {
                width: 50%;
            }
        }
    }
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px) {
    .home {
        flex-direction: row;
        min-height: 70vh;
        
        .home_content {
            a {
                width: 50%;
            }
        }
    
        .home_images {
            width: 50%;
            margin: 40px;

            img,
            div {
                width: 100%;
            }
        }
    }
}

/*===== ESTILOS XL =====*/
@media only screen and (min-width: 1200px) {
    .home {     
        min-height: 90vh;         
        
        .home_content {
            margin: 0;
            margin-left: 40px;

            h1 {
                font-size: 10rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            a {
                width: 30%;
            }
        }
    
        .home_images {
            width: 40%;
        }
    }
}

/* Animación imagen banner*/
@keyframes translate {
    0% { transform: translateY(-20px); }
}

@keyframes rotate {
    0% { transform: rotate(360deg); }
}

@keyframes change {
    0%, 20% {
        background-image: url('../../../images/banner1.png');
    }
    25%, 45% {
        background-image: url('../../../images/banner2.png');
    }
    50%, 70% {
        background-image: url('../../../images/banner3.png');
    }
    75%, 100% {
        background-image: url('../../../images/banner4.png');
    }
}